<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add User</title>
  </head>
  <body>
    <h1>New User</h1>
    <form class="addUser" action="/add" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="bio" placeholder="Bio">
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
