<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User</title>
  </head>
  <body>
    <h1>Update User</h1>
    {{#users}}
    <form class="addUser" action="/update/{{id}}" method="post">
      <input type="text" name="name" value={{name}} placeholder="Name">
      <input type="email" name="email" value={{email}} placeholder="Email">
      <input type="text" name="bio" value={{bio}} placeholder="Bio">
      <button type="submit" name="button">update</button>
      {{/users}}
    </form>
  </body>
</html>
